*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway';
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

// header style

.header {
    .header-container{
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .nav{
            ul {
                display: flex;
                align-items: center;
                gap: 40px;
                list-style: none;
            }
        }
    }
}

.nav ul li a{
    color: #282B22;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    transition: all 0.6s;

    &:hover{
        color: #e4b378;
    }
}

.ringo-visit {
    display: flex;
    align-items: center;
    gap: 63px;
    
    .social-media {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .phone-number {
        font-family: 'Lato';
        display: flex;
        align-items: center;
        gap: 7px;
    }
}

// hero style

.hero{
    margin-bottom: 140px;
}

.hero-container{
    flex-direction: column;

    
    .arrow{
        padding-top: 40px;
        display: flex;
        gap: 25px;
        margin-right: 1130px;
    }

    .select-number{
        display: flex;
        gap: 15px;
        padding-left: 1070px;
        padding-bottom: 200px;

        a{
            border: 1px solid #fff;
            border-radius: 50%;
            align-items: center;
            padding: 8px 11px;

            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 16px */
            opacity: 0.5;
        }

        .active{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
        }
    }
}

.image{
    max-width: 1600px;
    width: 100%;
    height: 687px;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/tv-cabinet-modern-living-room.png");
    background-repeat: no-repeat;

    .image-background{
        height: 687px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
    }

    .hero-text{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 120px;
        border-bottom: 1px solid #fff;
        padding-bottom: 120px;
        width: 1200px;
        

        .title{
            width: 446px;
            margin-left: auto;
            margin-right: auto;
            color: #FFF;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 67.2px */
            text-transform: uppercase;
        }

        .desc{
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
            padding-bottom: 50px;
            width: 537px;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 27px */
        }

        input{
            width: 260px;
            height: 60px;
            padding: 12px 56px;
            border: none;
            background: #AE7B3C;
            box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);

            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            cursor: pointer; /* 16px */
            transition: all 0.5s ease-out;

            &:hover{
                background: #d8a05a;
            }
        }
    }
}


// main

.main{
    margin-bottom: 140px;
}

.main-container{
    display: flex;
    flex-direction: column;

    .headword{
        color:#282B22;
        text-align: center;
        font-size: 46px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 57.5px */
        text-transform: uppercase;
        padding-bottom: 80px;
    }
}

.main-container{
    .table{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        .list1{
            display: flex;
            flex-direction: column;

            .number{
                color: #282B22;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%; /* 24px */
            }
        }
        .list2{
            display: flex;
            flex-direction: column;

            .number{
                color: #282B22;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%; /* 24px */
            }
        }
        .list3{
            display: flex;
            flex-direction: column;

            .number{
                color: #282B22;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%; /* 24px */
            }
        }
    }
}

// section

.section{
    background: #3D4A39;
}

.section-container{
    padding: 100px 333px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1600px){
    
}

@media screen and (max-width: 1000px){
    .header{
        padding: 20px;
        width: 100%;
    }
    .hero{
        width: 100%;
        max-width: 1200px;

        .arrow{
            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 640px){
    .header{
        padding: 20px;
        width: 100%;
    }
    .hero{
        width: 100%;
        max-width: 1200px;

        .arrow{
            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 320px){
    .header{
        padding: 20px;
        width: 100%;
    }
    .hero{
        width: 100%;
        max-width: 1200px;

        .arrow{
            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 320px){
    .header{
        padding: 20px;
        width: 100%;
    }
    .hero{
        width: 100%;
        max-width: 1200px;

        .arrow{
            padding-left: 20px;
        }
    }
}