@import "./header.scss";
@import "./hero.scss";
@import "./section.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}